.padding-top-25{
  padding-top: 25px;
}

.padding-top-50{
  padding-top: 50px;
}

.padding-top-100{
  padding-top: 100px;
}

.padding-bottom-25{
  padding-bottom: 25px;
}

.padding-bottom-50{
  padding-bottom: 50px;
}

.padding-bottom-100{
  padding-bottom: 100px;
}

.form-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: visible;
}